body{
    
    background: darkgray url('img/table.jpg') center center no-repeat;
    background-size: cover;
    color: burlywood;
}

#container{
    width: 400px;
    margin: 180px auto 0;
    padding: 60px;
    box-sizing: border-box;
    background: url(img/paper-pattern.jpg) top left repeat;
    text-align: center;
    border-radius: 10px;
    
}

h1{
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px gray;
}

form{
    text-align: center;
    display: block;
    
}
#bill-amount{
    margin-top: 10px;
    width: 90px;
    margin-bottom: 10px
}
#tip-percent{
    width: 30px;
}
#tip-amount{
    width: 100px;
}
.slider{
    display: inline;
    
    
}
#party-size{
    width: 40px;
    text-align: center;
     
    
}
#party{
    text-align: right;
}
#total-tip{
    margin-top: 10px;
}
button{
    background-color:coral;
    color: white;
    border: none;
    box-shadow: -3px 3px 3px black;
    text-transform: uppercase;
    font-size: 17;
    padding: 10px 20px;
    width: 100%;
}

button:hover{
    
}